.container{
  display: flex;
}

.column{
  position: fixed;
  height:100%;
  padding:0;
  margin: 0;
  background-color: blue;
  width:250px;
  
  color:white;
}
h4{
  text-align: center;
}
p{
  opacity: 0.5;
}
button{
  padding:10px;
  margin:5px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  font-size: 12px;
  background-color: blue;
  color:white;
  font-size: medium;
  opacity: 0.8;
}
select{
  padding:10px;
  margin:5px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  font-size: 12px;
  background-color: blue;
  color:white;
  font-size: medium;
  opacity: 0.8;
}
button:hover{
  opacity: 2;
}
select:hover{
  opacity: 2;
}
option{
  background-color: white;
  color:black;
}
.style{
 color: rgb(202, 198, 198);
}
.none{
  color: rgb(202, 198, 198);
  display: none;
}
footer{
  padding:17px;
  width:85%;
  font-size: medium;
  background-color: rgb(251, 247, 247);
  font-weight: bolder;
  color:rgb(75, 66, 66);
  margin-left: 250px;
  position: absolute;
  bottom:0;
  text-align: center;
}
.search{
 margin-left: 50px;
  position: absolute;
  top:10px;
  width:250px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid rgb(19, 158, 180);
}
body{
  background-color: rgb(227, 224, 224);
}
.top-bar{
  background-color: white;
 width:100vw;
 height:50px;
 margin-left: 250px;
 position: absolute;
 top:0px;
 border-bottom: 1px solid grey;
}
.notification{
  position: absolute;
  left:800px;
  margin:15px;
}
.name{
  margin-left:1000px;
  background-color: rgb(255, 255, 255);
  width: max-content;
  color:grey;
}
.value:hover{
  cursor: pointer;
  background-color: rgb(144, 147, 147) ;
}
.btn{
  background-color: rgb(251, 249, 249);
  color:grey;
 
}
.value{
  font-size: large;
  color:rgb(16, 10, 10);
}